version: '3.8'
services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
    volumes:
      - npm_data:/data
      - npm_letsencrypt:/etc/letsencrypt
    networks:
      - proxy_net

networks:
  proxy_net:
    name: reverse_proxy_net
    driver: bridge

# Hier werden die Speicherorte definiert
volumes:
  npm_data:
  npm_letsencrypt:
